body{
    background: linear-gradient(to right, #141e30, #243b55);
    margin-bottom: 60px;
}

/*header adjustable*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 97%;
    margin: 20px auto 0 auto;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    padding: 0 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Brand (Logo + Text) */
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logof {
    height: 45px;
    width: auto;
    background-color: white;
    border-radius: 25px;
}

.FQzx {
    color: white;
    margin: 0;
    font-size: 28px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.brand a {
    color: white;
    text-decoration: none;
}
.brand a:hover {
    color: black;
    transition: 0.3s;
}
/*end brand adjustable*/

/* Menu kanan */
#header ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}
/*ENDHEADER*/

@font-face {
    font-family: halofont;
    src: url(font/THEBOLDFONT-FREEVERSION.otf);
}

#header li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

#header li a:hover {
    color: black;
}

.main{
    display: flex;
    flex-direction: column
}

#title {
    font-family: Arial, sans-serif;
}

#wrapper{
    text-align: center;
    border-radius: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
    font-size: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

#logo {
    height: 50px;
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 50px;

}

#contact{
    padding-top: 25px;
    padding-bottom: 1px;
    margin: auto;
    text-align: center;
    color: white;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
}

#backbutton a:hover{
    color: black;
}

#backbutton { 
  display: inline-block;   
  padding: 5px 12px;    
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 20px;     
  color: white;           
  cursor: pointer;            
  margin: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wa {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#walogo {
    padding-top: 20px;
    height: auto;
    width: 30px;
    margin: auto;
}

#iglogo {
    padding-top: 20px;
    height: auto;
    width: 30px;
    margin: auto;
}

#emaillogo {
    padding-top: 20px;
    height: auto;
    width: 30px;
    margin: auto;
}

#email {
    margin-top: 20px;
}

#ig {
    margin-top: 20px;
}

#wa {
    margin-top: 20px;
}

#wrapper a:hover {
    color: black;
}

#backbutton a {
    color: white;
}

@media screen and (max-width: 992px) {
    .main {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #backbutton { 
    display: inline-block;   
    padding: 5px 12px;    
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px;     
    color: white;           
    cursor: pointer;            
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    }

    #contact {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    #wrapper {
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #contact {
        padding-left: 60px;
        padding-right: 60px;
    }

    #title {
        font-size: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    #logo {
        height: 50px;
    }

    #wrapper {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 10px;
        width: fit-content;
    }

    #usnemail {
        font-size: 10px;
    }

}
