body{
    background: linear-gradient(to right, #141e30, #243b55);
}

.main{
    display: flex;
    flex-direction: column
}

#wrapper{
    text-align: center;
    border-radius: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
    font-size: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

#logo {
    height: 50px;
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 50px;

}

#contact{
    padding-top: 25px;
    padding-bottom: 1px;
    margin: auto;
    text-align: center;
    color: white;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
}

#backbutton a:hover{
    color: black;
}

#backbutton { 
  display: inline-block;   
  padding: 5px 12px;    
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 20px;     
  color: white;           
  cursor: pointer;            
  margin: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wrapper a:hover {
    color: black;
}

#backbutton a {
    color: white;
}

@media screen and (max-width: 992px) {
    .main {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #backbutton { 
    display: inline-block;   
    padding: 5px 12px;    
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px;     
    color: white;           
    cursor: pointer;            
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

    #contact {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    #wrapper {
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #contact {
        padding-left: 60px;
        padding-right: 60px;
    }

    #title {
        font-size: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    #logo {
        height: 50px;
    }

    #wrapper {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 10px;
        width: fit-content;
    }

    #usnemail {
        font-size: 10px;
    }

}
