body{
    margin: 0px;
    background: linear-gradient(to right, #141e30, #243b55);
}

#header{
    /*background-color: rgba(255, 255, 255, 0.5);       warna baground header*/
    height: 50px;
    width: 97%;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
}

#wrap{
    color: rgb(0, 255, 0)
}

#FQzx{
    padding-top: 43px;
    margin-top: -80px;
    margin-left: 39px;
    color: rgb(255, 255, 255);
}

#header li{
    width: 50pxpx;
    float: left;
    color: black;
    margin-right: 5px;
    padding-right: 50px;
    list-style: none;
}

#header ul{
    float: right;
    justify-content: space-between;
}

#opening{
    padding-top: 110px;
    color: white;
    text-align: center;
}

#who{   
    width: 700px;
    border-radius: 20px;  
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    text-align: center;
    margin: auto;

}

#logof{
    height: 50px;
    margin-top: -32px;
    padding-left: 12px;
}

li a:hover{
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: white;
}

font a:hover{
    color: rgb(0, 0, 0);
}

#halo{
    text-align: center;
}

@font-face {
    font-family: halofont;
    src: url(font/THEBOLDFONT-FREEVERSION.otf);
}

#halo{
    margin: auto;
    font-family: halofont;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}    

#learnmore {
  display: inline-block;   
  padding: 5px 12px;    
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 12px;     
  color: white;           
  cursor: pointer;            
  height: 18px;
  margin: auto;
  margin-top: 60px;
}

#wrapper{
    margin-top: 200px;
    border-radius: 20px;
    margin-left: 80px;
    /*background-color: rgb(255, 0, 0);*/
    box-shadow: 0 0px 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    width:600px;
    height: 320px;
    padding-left: 25px;
    padding-top: 1px;
    padding-right: 25px;
    color: white;
}

.this{
    text-align: center;
    width: 100%;
}

.me {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.aboutmetext { 
    text-align: center;   
}

.myphoto{
  height: 400px;
  margin-right: 5%;
  float: right;
  margin-top: -30%;
  background-color: white;
  border-radius: 20%;
  box-shadow: 0 0px 20px rgba(0,0,0,0.4);
}




