body{
    background: linear-gradient(to right, #141e30, #243b55);
}

#wrapper {
    padding-top: 100px;
}

#title {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#portofoliotext {
    max-width: 700px;
    text-align: center;   
}

#logo {
    height: 70px;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    width: fit-content;
    margin: auto;
}

#baground {
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.4);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#backbutton {
  display: inline-block;   
  padding: 5px 12px;    
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 12px;     
  color: white;           
  cursor: pointer;            
  height: 18px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.4);
}

#backbutton a {
    color: white;
    text-decoration: none;
}

#backbutton a:hover {
    color: black;
}

#backbutton2 {
  display: inline-block;   
  padding: 5px 12px;    
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 12px;     
  color: white;           
  cursor: pointer;            
  height: 18px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.4);

}

#backbutton2 a {
    color: white;
    text-decoration: none;
}

#backbutton2 a:hover {
    color: black;
}

#wrapper2 {
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 20%;
}

#fotowsp {
    width: 25px;
}

#fotokali {
    width: 200px;
    border-radius: 20px;
}

#fotokemenag {
    width: 200px;
    border-radius: 20px;
}

#fotoqr {
    width: 200px;
    border-radius: 20px;
}

#fotonw {
    width: 200px;
    border-radius: 20px;
}

#fotoinsta {
    width: 200px;
}

#fotoig {
    width: 250px;
}

#wrapper3 {
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 50px;
}

#wrapper4 {
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 50px;
}

#wrapper5 {
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 50px;
}

#fotoig {
    height: 500px;
    border-radius: 20px;
}

#wrapper6 {
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 60px;
}

#fotoinsta {
    height: 200px;
    border-radius: 20px;
}

#fotowsp {
    width:200px;
    border-radius: 20px;
}

#main {
    background: rgba(255, 255, 255, 0.2); 
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.4);
    color: white;
}

a {
    text-decoration: none;
}

#ini:hover {
    color: black;
}

#foto {
    height: 200px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    #title {
        font-size: 15px;
    }

    #wrapper {
        margin: auto;
    }

    #portofoliotext {
        font-size: 20px;
        max-width: 560px;
        padding-right: 30px;
        padding-left: 30px;
    }

    #logo {
        height: 50px;
    }

}

@media screen and (max-width: 480px) {
    #title {
        font-size: 10px;
    }

    #wrapper {
        margin: auto;
    }

    #portofoliotext {
        font-size: 25px;
        max-width: 250px;
    }

    #logo {
        height: 50px;
    }

}